{% extends "loja/base_loja.html" %}
{% block body %}
<h1>Produtos</h1>
<ul>
    {%for product in list_product%}
        <li>
           {{ product.name }}
                {% if perfil %}
                    {%if product.id in itens_order%}
                        <a href="{%url 'loja:remove_item' product.id order.id%}">Remover</a>
                    {%else%}
                        <a href="{%url 'loja:add_item' product.id order.id%}">Adicionar</a>
                    {%endif%}
                {% endif %}
         </li>
    {% endfor %}
</ul>
{% endblock %}
