{% extends "loja/base_loja.html" %}
{% block body %}
<h1>Pedidos</h1>
{%for order in list_order%}
    <ul>
       <li>
           <p>{{order}}</p>
           <p>Status: {{order.get_status_order_display}}</p>
           {%if 'P.A' in order.status_order%}
           <form class="form-signin" action="{% url 'loja:list_order' perfil.id%}" method="post">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Finalizar</button>
            </form>
           {%endif%}
        </li>
    </ul>
{%endfor%}

<a href="{%url 'loja:index'%}">Voltar</a>
{% endblock %}
